@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  @include set-Roboto-normal();
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

body {
  background-color: $greyF4;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

ul {
  @include reset-ul();
}