.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.wrapper_like {
  display: flex;
}

@media (min-width: $tablet-width) {
  .footer {
    order: 3
  }

  .wrapper_like {
    position: absolute;
    right: 40px;
    top: 83px;
    flex-direction: column;
  }


}