.comments {
  display: none;
}

@media (min-width: $tablet-width) {
  .comments {
    position: relative;
    order: 3;
    margin-left: 35px;
    margin-top: 35px;
    display: block;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 7px;
  }

  .user p {
    @include set-Roboto-normal();
    color: $braun;
    font-size: 14px;
    line-height: 16px;
  }

  .btn_close {
    width: 14px;
    height: 14px;
    background-image: url("../../img/icon-close.svg");
    right: 0;
    top: 0;
  }

  .content {
    @include set-Roboto-normal();
    font-size: 14px;
    line-height: 24px;
    color: $primary;
    width: inherit;
  }

}

