.avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 28px;
}

.avatar svg {
  width: 30px;
  height: 30px;
  margin-right: 14px;
  border-radius: 50%;
}

.avatar p {
  display: none;
}


@media(min-width: $tablet-width) {

  .link {
    order: 3;
  }

  .avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .avatar p {
    display: block;
    @include set-Roboto-medium();
    font-size: 20px;
    line-height: 23px;
    color: $braun;
  }

  .avatar img,
  .avatar svg {
    width: 50px;
    height: 50px;
    margin-right: 13px;
    margin-left: 30px;
  }


}

@media (min-width: $desktop-width) {
  .avatar p {
    color: $primary;
    margin-left: 13px;
  }

  .avatar img,
  .avatar svg {
    width: 60px;
    height: 60px;
    padding: 5px;
    filter: none;
    border: 1px solid transparent;
  }

  .avatar svg {
    margin-left: 50px;
  }

  .avatar:hover {
    cursor: pointer;
  }


  .avatar:hover p {
    color: $braun;
  }
  .avatar:hover img {
    border: 1px solid $braun;
  }
  .avatar:hover svg {
    border: 1px solid $braun;
  }
}
