.card {
  background-color: $white;
  border-radius: 7px;
  margin-bottom: 20px;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.content {
  padding: 22px 0 0;
}

.list {
  @include reset-ul();
}


.image {
  width: 100%;
  min-height: 128px;
}

@media (min-width: $tablet-width) {
  .content {
    display: flex;
    order: 1;
    position: relative;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .image {
    width: 190px;
    height: 107px;
    border-radius: 3px;
    min-height: auto;
  }

  .card {
    padding-bottom: 40px;
    margin-bottom: 0;
    border-radius: 0;
    background-color:transparent;
  }
}

@media (min-width: $desktop-width) {
  .content {
    margin-left: 70px;
    margin-right: 45px;
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    border: 1px solid transparent;
  }
  .card:hover {
    border: 1px solid #D9D9D9;
    cursor: pointer;
  }


}