.header {
  margin-bottom: 38px;
}

.content {
  min-width: 320px;
  min-height: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 7px 7px;
}

h1 {
  padding: 0 20px;
  @include set-Roboto-normal();
  font-size: 20px;
  line-height: 23px;
}

.btn_close {
  border: 0;
  @include set-Roboto-normal();
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header {
    margin: 0 auto;
    min-width: $tablet-width;
    padding: 0 40px;
  }
  .btn-close {
    display: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .wrapper h1 {
    order: 1;
  }
  .content {
    order: 2;
  }
  .content {
    margin: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
  
}



