.header {
  margin-bottom: 38px;
}

.content {
  min-width: 320px;
  min-height: 58px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 7px 7px;
}

h1 {
  padding: 0 20px;
  @include set-Roboto-normal();
  font-size: 20px;
  line-height: 23px;
}

.avator img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 28px;
}


.message_status {
  width: 30px;
  margin-left: 14px;
  display: flex;
}

.message_count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.77px;
  height: 12.77px;
  background-color: $braun;
  border-radius: 50%;
  margin-right: 4px;
}

.message_count span {
  display: block;
  @include set-Roboto-medium();
  font-size: 9px;
  line-height: 11px;
  color: $white;
  margin-right: 1px;
}

.btn_close {
  border: 0;
  @include set-Roboto-normal();
  font-size: 12px;
  line-height: 14px;
  color: #666666;
  background-color: transparent;
  display: block;
  margin: 0 auto;
}

.avator p {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    margin: 0 auto;
    min-width: $tablet-width;
    padding: 0 40px;
  }
  .btn-close {
    display: none;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .wrapper h1 {
    order: 1;
  }
  .content {
    order: 2;
  }

  .message_status {
    order: 1;
  }
  .search {
    order: 2;
  }

  .avator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 3;
  }

  .avator p {
    display: block;
    @include set-Roboto-medium();
    font-size: 20px;
    line-height: 23px;
    color: $braun;
  }

  .avator img {
    width: 50px;
    height: 50px;
    margin-right: 13px;
    margin-left: 30px;
  }

  .content {
    margin: 0;
    background: transparent;
    box-shadow: none;
    padding: 0;
  }

  .search {
    width: 280px;
    margin-left: 30px;
  }

  .search input {
    width: 100%;
    height: 30px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    @include set-Roboto-normal();
    font-size: 20px;
    line-height: 23px;
    padding: 0 31px;
  }

  .search input::placeholder {
    @include set-Roboto-normal();
    font-size: 16px;
    line-height: 19px;
    color: $greyC4;
  }

  .search::before {
    width: 18.54px;
    height: 19px;
    background-repeat: no-repeat;
    background-color: transparent;
    left: 16px;
    top: 9px;
  }

  .message_status {
    margin: 0;
    width: 47px;
    padding: 0;
    justify-content: space-between;
    align-items: center;

  }

  .message_status svg {
    width: 20px;
    height: 16px;
  }
  .message_count {
    width: 20px;
    height: 20px;
  }
  .message_count span {
    font-size: 14px;
    line-height: 16px;
  }
}



