@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "common-styles/normalize.scss";
@import "common-styles/mixins.scss";
@import "common-styles/variables.scss";
@import "common-styles/common.scss";

body {
  padding: 0;
  margin: 0;
  background-color: $greyF4;
  font-size: 14px;
  font-style: italic;
  @include set-Roboto-normal();
}

* {
  color: $primary;
  box-sizing: border-box;
}