.list {
  @include reset-ul();
}

@media (min-width: $tablet-width) {
  .list {
    padding: 40px 0;
    background-color: $white;
    border-radius: 7px;
  }
}


@media (min-width: $desktop-width) {
  .list{
    margin: 0 auto;
    max-width: 1400px;
  }
}