.list {
  @include reset-ul();
}

.btnLoad {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $greyD9;
  color: $grey66;
  padding: 10px 15px;
}

.btnLoad:hover {
  opacity: 0.5;
  color: $white;
}

.btnLoad:active {
  color: $grey66;
}

@media (min-width: $tablet-width) {
  .list {
    padding: 40px 0;
    background-color: $white;
    border-radius: 7px;
  }
}


@media (min-width: $desktop-width) {
  .list{
    margin: 0 auto;
    max-width: 1400px;
  }
}